        @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
        @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
        body,
        html {
            font-family: 'Lato', sans-serif;
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            color: #5a5a5a;
        }
        
        h1 {
            text-transform: uppercase;
        }
        
        h1 strong {
            font-weight: 900;
        }
        
        h2 {
            text-transform: uppercase;
            line-height: 20px;
            margin: 0;
            font-weight: 400;
        }
        
        h3 {
            font-size: 18px;
            font-weight: 900;
        }
        
        h4 {
            text-transform: uppercase;
        }
        
        h5 {
            text-transform: uppercase;
            font-weight: 700;
            line-height: 20px;
        }
        
        p {
            font-family: 'Open Sans', sans-serif;
        }
        
        p.intro {
            font-size: 16px;
            margin: 12px 0 0;
            line-height: 24px;
            font-family: 'Open Sans', sans-serif;
        }
        
        a {
            color: #3dc9b3;
            text-decoration: none;
        }
        
        a:hover,
        a:focus {
            text-decoration: none;
            color: #3dc9b3;
        }
        
        .homepage {
            border-right: none;
            border-left: none;
            position: relative;
        }
        
        .abt-list {
            margin: 20px 0 0;
            display: block;
            font-size: 16px;
            line-height: 30px;
            font-family: 'Open Sans', sans-serif;
            margin-right: 10px;
        }
        
        .page_1 {
            height: 100vh;
            width: 100%;
            bottom: 0%;
            left: 0%;
            overflow: hidden;
            position: relative;
        }
        
        #Home {
            background: url(../Assets/pexels-cátia-matos-1072179.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: #ffffff;
        }
        
        #Home .p1_overlay {
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* IE10+ */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* W3C */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
            /* IE6-9 */
            height: auto;
            background-attachment: fixed;
        }
        
        .title {
            position: absolute;
            top: 30%;
            text-align: center;
            width: 100%;
            color: #fff;
        }
        
        .heading {
            margin-bottom: 25px;
            color: #444;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;
        }
        
        .xxx {
            float: right;
        }
        
        .t-btn {
            width: 180px;
            height: 54px;
            border: 1px solid #555;
            border-radius: 3px;
            color: white;
            text-align: center;
            padding-top: 0px;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            transition: all .2s ease-in-out;
            cursor: pointer;
            background: #19181A;
        }
        
        .t-btn:hover {
            border-color: #3dc9b3;
            background-color: #3dc9b3;
            color: black;
            font-weight:600;
        }
        
        .t-btn:active {
            border-color: #3dc9b3;
            background-color: #3dc9b3;
            color: #3dc9b3;
        }
        
        .navbar-fixed-top.scrolled {
            background-color: #fff !important;
            transition: background-color 200ms linear;
        }
        
        .section-title hr {
            border-color: #3dc9b3;
            border-width: 4px;
            width: 60px;
            float: left;
            clear: both;
        }
        
        .section-title.center {
            padding: 30px 0;
            text-align: center;
        }
        
        .section-title h2,
        .section-title.center h2 {
            font-weight: 300;
            padding-top: 7px;
            padding-bottom: 7px;
        }
        
        .section-title h2 strong,
        .section-title.center h2 strong {
            font-weight: 800;
        }
        
        .section-title.center .line {
            border-top: 4px solid #3dc9b3;
            height: 10px;
            width: 60px;
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
        }
        
        .section-title.center hr {
            border-top: 4px solid rgb(19, 65, 71);
            width: 40px;
            text-align: center;
            margin-top: 10px;
            position: relative;
            left: 17%;
        }
        
        .abt-hr {
            border-color: #3dc9b3;
        }
        
        #About {
            padding: 80px 0;
            margin-left: 10px;
            margin-bottom: 5%;
        }
        
        #About .abt-img {
            margin-left: 10px;
        }
        
        #myWorls {
            background: url(../Assets/work_background.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: #ffffff;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        #myWorls .overlay {
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* IE10+ */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
            /* W3C */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
            /* IE6-9 */
            height: auto;
            background-attachment: fixed;
            padding: 30px 0;
            padding-top: 5%;
            padding-bottom: 10.25%;
        }
        
        .portfolio-item {
            margin-bottom: 30px;
        }
        
        .portfolio-item .hover-bg {
            height: 180px;
            width: 220px;
            overflow: hidden;
            position: relative;
        }
        
        .hover-bg .hover-text {
            position: absolute;
            text-align: center;
            margin: 0 auto;
            color: #ffffff;
            background: rgba(0, 0, 0, 0.66);
            padding: 25% 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: all 0.5s;
        }
        
        .hover-bg .hover-text>h4 {
            opacity: 0;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
        }
        
        .hover-bg:hover .hover-text>h4 {
            opacity: 1;
            /* -webkit-backface-visibility: hidden; */
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        
        .hover-bg:hover .hover-text {
            opacity: 1;
        }
        /*FOOTER*/
        
        footer {
            background: #16222A;
            background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
            background: linear-gradient(59deg, #3A6073, #16222A);
            color: white;
            margin-top: 100px;
        }
        
        footer a {
            color: #fff;
            font-size: 14px;
            transition-duration: 0.2s;
        }
        
        footer a:hover {
            color: #FA944B;
            text-decoration: none;
        }
        
        .copy {
            font-size: 12px;
            padding: 10px;
            border-top: 1px solid #FFFFFF;
        }
        
        .footer-middle {
            padding-top: 2em;
            color: white;
        }
        /*SOCİAL İCONS*/
        /* footer social icons */
        
        ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
        }
        
        ul.social-network li {
            display: inline;
            margin: 0 5px;
        }
        /* footer social icons */
        
        ul.socialIcons {
            padding: 0;
            text-align: center;
        }
        
        .socialIcons li {
            background-color: yellow;
            list-style: none;
            display: inline-block;
            margin: 4px;
            border-radius: 2em;
            overflow: hidden;
        }
        
        .socialIcons li a {
            display: block;
            padding: 0.5em;
            min-width: 2.3em;
            max-width: 2.3em;
            height: 2.3em;
            white-space: nowrap;
            line-height: 1.5em;
            /*it's working only when you write text with icon*/
            transition: 0.5s;
            text-decoration: none;
            font-family: arial;
            color: #fff;
        }
        
        .socialIcons li i {
            margin-right: 0.5em;
        }
        
        .socialIcons li:hover a {
            max-width: 200px;
            padding-right: 1em;
        }
        
        .socialIcons .facebook {
            background-color: #3b5998;
            box-shadow: 0 0 16px black;
        }
        
        .socialIcons .instagram {
            background-color: #cd486b;
            box-shadow: 0 0 16px black;
        }
        
        .socialIcons .linkedin {
            background-color: #0e76a8;
            box-shadow: 0 0 16px black;
        }
        
        #text-center {
            text-align: center;
            align-content: center;
            width: 50%;
            margin: auto;
        }
        
        #About {
            display: grid !important;
            grid-template-columns: 1fr 2fr;
            justify-content: space-between;
            padding: 40px;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        
        @media (max-width:1268px) {
            #About {
                display: grid !important;
                grid-template-columns: 1fr 1fr;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
        }
        
        @media (max-width:768px) {
            #About {
                display: grid !important;
                grid-template-columns: 1fr;
                padding: 40px;
            }
        }
        
        @media (max-width:992px) {
            .xxx {
                float: left;
            }
        }
        
        @media(min-width:992px) {
            #lightbox {
                padding-left: 6%;
            }
        }
        
        @media(min-width:1198px) {
            #lightbox {
                padding-left: 9%;
            }
        }
        
        @media(min-width:1398px) {
            #lightbox {
                padding-left: 12%;
            }
        }
        
        @media(max-width:576px) {
            #lightbox {
                margin-left: 21%;
            }
        }
        
        .hover-bg {
            border-radius: 10px;
            box-shadow: 0 0 30px rgb(66, 231, 220);
        }
        
        .header-whole {
            width: 100%;
            margin: 0;
        }
        
        .main-nav ul {
            text-decoration: none !important;
            margin: 0 !important;
            padding-top: 7px;
        }
        
        .main-nav li {
            padding-right: 20px;
            list-style: none;
        }
        
        .main-nav a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: white;
            background: linear-gradient(to right, #3dc9b3, #3dc9b3 50%, white 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease;
        }
        
        .main-nav a:hover {
            background-position: 0 100%;
        }
        
        .navbar-color {
            background-color: #000000 !important;
            width: 100% !important;
        }
        .flex{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }